body{
    font-family: 'Preahvihear', sans-serif !important;
}
.textomenudashboard{
    font-family: 'Preahvihear', sans-serif !important;


}
.modalefecto{
    border-radius: 10px; 
    box-shadow: 0px 0px 10px #F2761D;
}

.profile{
    font-family: 'Preahvihear', sans-serif !important;
    color: white !important;

}
.profile:hover{
    font-family: 'Preahvihear', sans-serif !important;
    color: white !important;

}
.textomenudashboard:hover{
    font-family: 'Preahvihear', sans-serif !important;
    color:#F2761D !important;

}

.boton{
    background-image: url('/img/banner_huellas.png') !important;
    color: white;
    padding: 3px 10px;
    /* margin: 0px; */
    height: 100%;
    border-radius: 12px;
}
.boton:hover{
    background-image:url(/img/banner_huellas_azul.png) !important;
    color: white;
    padding: 3px 10px;
    /* margin: 0px; */
    height: 100%;
    border-radius: 12px;
}

.boton-eliminar{
    background: red;
    color: white;
    padding: 3px 10px;
    height: 100%;
    border-radius: 12px;
    border-color: transparent !important;
}


/* USER SERVICES REQUEST */
.ServiceSection:hover,
.PackagesSection:hover,
.texto_servicio:hover,
.texto_paquete:hover {
    background-color: #F2761D;
    color: #fff;
    transition: background-color 0.3s ease;
}
.PackagesSection{

}

.texto_paquete, .texto_servicio {
    margin: 30px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #000;
    transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s ease;
    padding:20px;
    border-radius: 20px; /* Radio de las esquinas */;
}
.texto_paquete:hover, .texto_servicio:hover {
    background-color: #F2761D;
    color: #fff;
    padding:20px;
    border-radius: 20px; /* Radio de las esquinas */;
}
/* USER SERVICES REQUEST */
@media (max-width: 575px) {
    .texto_paquete, .texto_servicio {
        margin: 0 !important;
        padding: 5px;
        text-decoration: none;
        border: 1px solid #000;
        transition: background-color 0.3s, color 0.3s;
        transition: background-color 0.3s ease;
        padding:20px;
        border-radius: 20px; /* Radio de las esquinas */;
    }
    .botonespaquetes{
        margin-bottom: 2vh

    }

}