.timeline img {
  max-width: 100%;
  height: 40%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.timeline-text{
  color: #ddd;

  padding-top:20px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtext-timeline-text{
  color: red;
  padding-bottom:50px ;
  padding-top:20px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
